body {
  font-family: Raleway;
}

h1{
 font-size: 40px;
}

h2{
  font-size: 25px; 
}

.topnav {
  background-color: rgb(131, 128, 115);
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

.topnav a.social-media {
  font-size: 21px
  
}

.topnav a:hover {
  background-color: rgb(223, 210, 210);
  color: black;
}
#heading {
  text-align: center;
  margin-top: 60px;
}

#heading p {
  font-size: 18px;
}

#projects {
  margin-top: 60px;
  margin-left: 20px;
  margin-right:20px;
}

#projects img {
  width: 400px;
}

#projects p {
  /* width: 350px; */
  /* text-align: center; */

}

.project-card {
  width: 450px;
  height:410px;
  display: inline-table;
  text-align: center;
  padding: 20px 10px;
}
