body {
  font-family: Raleway;
}

h1{
 font-size: 40px;
}

h2{
  font-size: 25px; 
}

.topnav {
  background-color: rgb(131, 128, 115);
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

.topnav a.social-media {
  font-size: 21px
  
}

.topnav a:hover {
  background-color: rgb(223, 210, 210);
  color: black;
}
#heading {
  text-align: center;
  margin-top: 60px;
}

#heading p {
  font-size: 18px;
}

#projects {
  margin-top: 60px;
  margin-left: 20px;
  margin-right:20px;
}

#projects img {
  width: 350px;
}

#projects p {
  width: 280px;
  text-align: match-parent;
  margin: 0 auto 18px;
  padding: 8px 0;

}

#projects a {
  text-decoration: none;
  border: 2px solid rgb(170, 160, 160);
  color: #800020;
  font-family: Raleway;
  font-weight: bold;
  padding: 6px;
}

.cards {
  margin: 0 auto;
  width: 90%
}

.project-card {
  border: 3px solid rgb(170, 160, 160);
  width: 350px;
  height:410px;
  display: inline-table;
  text-align: center;
  padding: 15px 10px;
  margin: 15px 5px;
}
