* {
  margin: 0;
  padding: 0;
}
  
  body {
  font-family: Raleway;
  background-image: url("https://images.unsplash.com/photo-1514679264584-789ad9c7dcd2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container {
  background-color: #f2f2f2;
  margin: 30px;
  padding: 2px 0 60px;
  border-radius: 0 100px 0;
}

h1{
  font-size: 40px;
  color:rgb(80, 78, 73);
}

h2{
  font-size: 30px; 
  text-align: center;
  font-weight: bolder;
  color:rgb(100, 97, 84);
  padding: 10px;
  margin: 60px auto;
}

.topnav {
  background-color: rgb(131, 128, 115);
  overflow: hidden;
  padding-left: 50px;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 21px;
}

.right-links {
  float: right;
  padding-right: 50px;
}

.topnav a.social-media {
  font-size: 21px
  
}

.topnav a:hover {
  background-color: rgb(223, 210, 210);
  color: black;
}
#heading {
  text-align: center;
  margin-top: 80px;
}

#heading p {
  font-size: 18px;
}

#projects {
  margin-top: 60px;
  margin-left: 20px;
  margin-right:20px;
}

#projects p {
  width: 280px;
  text-align: match-parent;
  margin: 0 auto 18px;
  padding: 8px 0;

}

#projects a {
  background-color: rgb(131, 128, 115);
  text-decoration: none;
  border: 2px solid rgb(170, 160, 160);
  color: #f2f2f2;
  font-family: Raleway;
  font-weight: bold;
  padding: 6px;
}

#projects a:hover {
  background-color: rgb(223, 210, 210);
  color: black;
}

.cards {
  margin: 0 90px;
  width: 90%
}

.project-card {
  border: 3px solid rgb(170, 160, 160);
  width: 350px;
  height:410px;
  display: inline-table;
  text-align: center;
  padding: 15px 10px;
  margin: 15px 5px;
}

.project-card img {
  width: 350px;
  height: 200px;
  overflow: scroll;

  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
   -ms-transition: all 1s ease;
       transition: all 1s ease;
}

.project-card img:hover {
  height: 250px;
}

#about {
  margin: 60px 250px 0;
  text-align: justify;
}

#about a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(8, 130, 187);
}

#about a:hover {
  color: purple;
}

#about p {
  font-size: 18px;
}

.contact {
  margin: 100px;
  text-align: center;
}

.contact a {
  background-color: rgb(131, 128, 115);
  font-size: 20px;
  font-weight:500;
  padding: 10px;
  margin: 0 30px;
  color: #f2f2f2;
  text-decoration: none;
  border-radius: 5px;
}

.contact a:hover {
  background-color: rgb(223, 210, 210);
  color: black;
}

#home-button {
  text-align: center;
  margin: 0 auto;
}

#home-button a { 
  border: 2px solid rgb(170, 160, 160);
  background-color: rgb(131, 128, 115);
  color: #f2f2f2;
  font-size: 18px;
  padding: 10px;
  text-decoration: none;
}

#home-button a:hover {
  background-color: rgb(223, 210, 210);
  color: black;
}

footer {
  background-color: rgb(131, 128, 115);
  text-align: center; 
  color: #f2f2f2;
  overflow: hidden;
  margin-top: 80px;
  height: 50px;
}

footer p {
  padding: 15px;
}

